html {
	min-height: 100%;
	position: relative;
}

body {
	background-image: url(images/background1.png), url(images/background2.png);
	background-position: left bottom, right top;
	background-repeat: no-repeat, no-repeat;
	background-size: 200px, 200px;
}

.header h1 {
	font-family: Roboto, sans-serif;
	font-weight: bold;
	color: #009688;
	text-align: center;
}

.column {
	float: left;
	width: 50%;
	margin-bottom: 45px;
	text-align: center;/*center align the boxes*/
}

@media only screen and (max-width: 1100px) {
    .column {
        width: 100%;
    }
}

#myCanvas {
	border: 5px solid #009688;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/*center align the canvas*/
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.box {
	width: 60px;
	height: 60px;
	margin: 5px;
	box-shadow: 0 4px 3px LightGray;
	border-radius: 12%;
}

.box:hover {
	box-shadow: 0 4px 3px gray;
}

.box:active {
	box-shadow: 0 3px 3px gray;
	transform: translateY(3px);
}

button {
	font-family: Roboto, sans-serif;
	background-color: #009688;
	color: white;
}

#showinput,#showcolor,#showcirrec,#showsize,#showtriangle{
	font-family: Roboto, sans-serif;
	color: #3366ff;
}

#showsize,#showcolor,#showinput,#showtypeface,#showfontsize,#showcirrec,#showtriangle,#uploadfile {
	display: none;
}

.column h4 {
	color: #009688;
	font-family: Roboto, sans-serif;
}

.footer {
	background-color: #009688;
	/*stick to bottom*/
	width: 100%;
	height: 40px;
	position: absolute;
	left: 0;
	bottom: 0;
	/*text*/
	color: white;
	text-align: center;
	font-family: Roboto, sans-serif;
	font-size: 12px;
}